body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Rosa personalizado */
.bg-pink {
    background-color: #e83e8c !important;
}

.btn-pink {
    background-color: #e83e8c;
    color: white;
    border: none;
}

.btn-pink:hover {
    background-color: #d63384;
}

.text-pink {
    color: #e83e8c !important;
}
